<p style="color: #000000; font-size: 16px; mso-line-height-rule: exactly; line-height: 24px; font-family: Arial, sans-serif;">Hello {{ username }},</p>

<p style="color: #000000; font-size: 16px; mso-line-height-rule: exactly; line-height: 24px; font-family: Arial, sans-serif;">La modification du mot de passe de votre compte a été effectuée avec succès.</p>

<p style="color: #000000; font-size: 16px; mso-line-height-rule: exactly; line-height: 24px; font-family: Arial, sans-serif;">Si vous n'êtes pas à l'origine de cette modification, vous devez immédiatement protéger votre compte.</p>

<p style="color: #000000; font-size: 16px; mso-line-height-rule: exactly; line-height: 24px; font-family: Arial, sans-serif; margin-bottom: 0 !important;">{{ env('APP_TITLE') }}</p>