<!DOCTYPE html>
<html lang="fr">
  @include('partials/head')

  <body class="min-h-screen bg-slate-900">
    @include('partials/header')

    <main class="container">
      @!section('content')
    </main>
  </body>
</html>